#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;
}

#root table {
    border-collapse: collapse;
    width: 400px;
    margin: 20px auto;
}

#orszagcimer {
    width: 120px;
    height: auto;
    border: none;
    margin-bottom: 20px;
}

#orszagcimer img {
    width: 100%;
    height: auto;
}

#root th,
#root td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#root th {
    background-color: #f2f2f2;
    text-align: center;
}

#terkep {
    width: minmax(500px, 90%);
    height: auto;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#terkep iframe {
    display: block;
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 10px;
}