.app-container {
    max-width: 1200px;
    margin: 1rem auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.app-title {
    text-align: center;
    margin-top: 16px;
    font-size: 2rem;
    color: #333;
}

.cat-card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: stretch;
    padding: 16px;
    height: 100%;
}