table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(odd) td {
    background-color: #e0e0e0;
}

th,
td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
    text-align: center;
}
th button {
    background: lightgray;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 4px 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 1em;
}
input[type="text"],
input[type="number"] {
    width: 90%;
    padding: 4px;
    box-sizing: border-box;
    text-align: right;
}
.szuletesiDatum {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
.szuletesiDatum input {
    width: 4em;
    margin: 0 5px;
}
.hirlevel {
    text-align: center;
}