
.app {
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    min-height: 100vh;
}

.app.light {
    background-color: #f0f0f0; /* Világos háttér */
    color: #333; /* Sötét szöveg */
}

.app.dark {
    background-color: #333; /* Sötét háttér */
    color: #f0f0f0; /* Világos szöveg */
}