body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "private-data-button private-data-button"
    "shared-data-button shared-data-button";
  place-items: center;
  justify-content: center;
}
button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
  margin: 30px;
}